@import '../../variables.scss';

.footer {
    background-color: $color-primary-darkest;
    padding-top: 5px;
    position: relative;

    &__navigate-btn {
        position: absolute;
        padding: .5rem;
        border-radius: 3px;
        top: -1.5rem;
        right: 2%;
        background-color: #cc3333;
    }
}