@import './variables.scss';
@import './mixins.scss';;
@import './typography.scss';

// FONTS
@font-face {
  font-family: "HelveticaNeue";
  src: url("./fonts/HelveticaNeue-Roman.woff2") format("woff2"), url("./fonts/HelveticaNeue-Roman.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("./fonts/HelveticaNeue-Medium.woff2") format("woff2"),
    url("./fonts/HelveticaNeue-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Arial";
  src: url("./fonts/Arial.woff2") format("woff2"), url("./fonts/Arial.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Arial";
  src: url("./fonts/Arial-Bold.woff2") format("woff2"), url("./fonts/Arial-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Oswald";
  src: url("./fonts/Oswald-ExtraLight.woff2") format("woff2"), url("./fonts/Oswald-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Oswald";
  src: url("./fonts/Oswald-Regular.woff2") format("woff2"), url("./fonts/Oswald-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px / 16px = 62.5% -> 1rem = 10px

  @media only screen and (max-width: $bp-large) {
    font-size: 50%; // 8px / 16px = 50% -> 1rem = 8px
  }

}

body {
  font-family: $font-primary;
  color: $color-primary-dark;
  font-size: 1.3rem;
  line-height: 1;
  background-color: #fff;
}

.container {
  margin: 0 auto;
  max-width: 96rem;
  display: grid;
  grid-template-rows: min-content;
  grid-template-columns: repeat(10, 1fr);

  @media only screen and (max-width: $bp-medium) {
    padding: 0 5px;
  }
}

#error-page {
  @include center-content;
}
