@import "../../variables.scss";

.footer-top {
    color: $color-primary-white;
    padding: 3rem 0;
    margin-bottom: 1px;

    // Info
    &__info {
        grid-column: 1 / 3;
        grid-row: 1 / 1;

        @media only screen and (max-width: $bp-small) {
            grid-column: 1 / 5;
        }  
    }

    &__about {
        padding-bottom: 2.7rem;

        &-text {
            margin-top: 2.6rem;

            & span {
                font-weight: 700;
            }
        }
    }

    // Icons bar
    &__icons-bar {
        padding: 5px 0;
    }

    &__icon-btn {
        border: none;
        border-radius: 50%;
        font-size: 1.3rem;
        width: 2.3rem;
        height: 2.3rem;
        cursor: pointer;
        color: $color-primary-white;
        background-color: rgba($color-primary-dark, 0.2);
        margin-top: 2rem;

        &:not(:first-child) {
            margin-left: 5px;
        }
    }
    // Archives
    &__archives {
        grid-column: 3 / 6;
        grid-row: 1 / 1;
        margin-left: 3.8rem;

        @media only screen and (max-width: $bp-medium) {
            display: none;
        }

        &-list {
            margin-top: 0.5rem;
            list-style: none;
            padding-right: 3.5rem;
        }

        &-item {
            padding: 1.3rem 0;
        }

        &-item:not(:last-child) {
            border-bottom: 1px dashed #fff;
        }

        &-link {
            text-decoration: none;
            color: $color-primary-white;
            transition: all 0.2s;

            &:hover {
                color: $color-secondary;
            }
        }
    }
    // Posts
    &__posts {
        grid-column: 6 / 9;
        grid-row: 1 / 1;

        @media only screen and (max-width: $bp-medium) {
            grid-column: 4 / 7;
        }

        @media only screen and (max-width: $bp-small) {
            display: none;
        }     

        &-albums {
            padding-top: 1.5rem;
        }

        &-album {
            display: flex;
        }

        &-album:last-child {
            margin-top: 5px;
        }

        &-image {
            max-width: 10rem;
        }

        &-img {
            width: 100%;
            height: auto;
            border: 0.5rem solid $color-primary-dark-light;
        }

        &-text {
            margin-left: 1rem;
        }

        &-heading {
            font-weight: 700;
            margin-bottom: 1rem;
        }

        &-comments {
            display: flex;
            align-items: center;
        }
    }
    // Tools
    &__tools {
        grid-column: 9 / -1;
        grid-row: 1 / 1;
        margin-left: -5rem;

        @media only screen and (max-width: $bp-medium) {
            grid-column: 8 / -1;
        }
    }

    &__search {

        &-field {
            margin-top: 2.2rem;
        }

        &-input {
            width: 100%;
            padding: 1.3rem;
            border: 1px solid $color-primary-dark-light;
            background-color: rgba($color-primary-dark, .6);
            color: $color-primary-white;
        }
    }

    &__cloud {
        margin-top: 3rem;

        &-content {
            display: flex;
            flex-wrap: wrap;
            gap: .5rem;
            margin-top: 2rem;
        }

        &-btn {
            cursor: pointer;
            padding: .6rem .8rem;
            color: $color-primary-white;
            background-color: $color-primary-dark-light;
            border: none;
            transition: all .2s;

            &:hover {
                box-shadow: 0 0 3px $color-primary-white;
            }
        }
    }
}
